.navbar {
  background: #000;
  padding: 20px 0px;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.navbar span {
  color: #e67e22;
  font-style: italic;
}
.navbar nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 8px 20px;
  margin: 0px 5px;
}

@media (max-width: 576px) {
  .navbar {
    text-align: center;
  }
  .menu {
    display: block;
    text-align: center;
  }
}
